@keyframes mexer{
    from{
        top: 100%;
        opacity: 0;
    }
}

.item {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: var(--background);
}

.item.ativo {
    display: block;
}

.item.ativo img.fruta{
    animation: mexer 0.5s ease-in-out;
}
.item .titulo {
    font-size: 35px;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    /* Centralizar */
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.item .titulo{
    animation: mexer 0.5s ease-in-out;
}

.item .fruta {
    width: 20%;
    position: absolute;
    top: 0;
    z-index: 3;
}
.item .refri{
    /* Centralizar */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    z-index: 2;
    height: 450px;
    width: auto;
    margin-top: 40px;
}
.item.ativo img.refri{
    animation: mexer 0.7s ease-in-out;
}
#anterior, #proximo{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: #eee9;
    border: 1px solid #eee9;
    color: #eee;
    font-size: x-large;
    font-family: monospace;
    cursor: pointer;
    z-index: 4;
    border-radius: 50%;
}
#anterior{
    left: 30px;
}
#proximo{
    right: 30px;
}


